#tasks{
	padding: 20px 15px 5px;
}
#tasks .wrapper-list{
	background-color: var(--global-bg-color-soft);
	border-radius: var(--global-radius);
	height: calc(100vh - 100px);
	padding: 10px;
	box-shadow: 0 2px 5px #dbdbdb;
  margin-top: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#tasks .wrapper-list::-webkit-scrollbar {
  -webkit-appearance: none;
}

#tasks .wrapper-list::-webkit-scrollbar:vertical {
  width: 10px;
}

#tasks .wrapper-list::-webkit-scrollbar-button:increment,
#tasks .wrapper-list::-webkit-scrollbar-button {
  display: none;
}

#tasks .wrapper-list::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

#tasks .wrapper-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

#tasks .wrapper-list h2{
	font-size: 1.2rem;
}
#tasks .wrapper-list .list-group {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#tasks .wrapper-list .list-group .list {
  flex: 1;
  border-radius: var(--global-radius);
  padding: 10px;
  height: 100%;
  box-shadow: 0 2px 5px #dbdbdb;
  background-color: white;
}

#tasks .card{
	background-color: #fff;
	border-radius: 12px;
	border: var(--global-border);
	margin-bottom: .8rem;
	padding: .8rem 1.1rem .9rem;
	position: relative;
	transition: transform .2s ease-out;
}
#tasks .card .close{
	position: absolute;
	top: 10px;
	right: 12px;
	font-size: 1.2rem;
	cursor: pointer;
}
#tasks .card h3{
	font-size: 1rem;
	font-weight: 700;
	margin-bottom: .2rem;
}
#tasks .card h5, #tasks .card h6{
	font-size: .6rem;
	color: #424242;
	margin-bottom: .1rem;
}
#tasks .card button{
	border-radius: 4px;
	border: 1px solid var(--global-primary-color);
	font-size: .6rem;
	font-weight: 700;
	margin: .35rem .2rem .15rem 0;
	padding: .075rem .3rem;
	background-color: var(--global-primary-color);
	color: #fff;
}
#tasks .card p{
	color: #424242;
}
#tasks .card button.finished{
	background-color: #1ec876;
	border: 1px solid #1ec876;
}
#tasks .card button.finished:hover{
	background-color: #fff;
	color: #1ec876;
}
#tasks .card button.low{
	background-color: #007bff;
	border: 1px solid #007bff;
}
#tasks .card button.low:hover{
	background-color: #fff;
	color: #007bff;
}
#tasks .card button.medium,
#tasks .card button.progress{
	background-color: #ffc107;
	border: 1px solid #ffc107;
	color: #000;
}
#tasks .card button.medium:hover,
#tasks .card button.progress:hover{
	background-color: #000;
	color: #ffc107;
}

@media (min-width: 900px){
	#tasks {
		display: flex;
	}
	#tasks .wrapper-list{
		flex: 2 1 150px;
	}
}

@media (min-width: 1300px){
	#tasks .wrapper-list{
		flex: 3 1;
	}
}